<!DOCTYPE html>
<html>
<head>
  <title>Temp</title>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascripts' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="col-lg-12 main">
    <div class="ccc col-lg-10 col-lg-offset-1 top clearfix">
      <div class="logo col-sm-2">
        <%= link_to image_tag("logo.jpg", :attr => 'Ruby on Rails Forum',
                    :alt => 'Ruby on Rails Forum', :class => 'round'),
            root_path %>
      </div>
      <div class="heading col-sm-10">
        <h3>One Stop portal for all that relates to Ruby on Rails, MongoDB, Mongoid, Bakckbone,
        Coffeescript, Twitter Bootstrap</h3>
      </div>
    </div>
    <div class="ccc col-lg-10 col-lg-offset-1 mid clearfix">
      <%= yield %>
    </div>
    <div class="ccc col-lg-10 col-lg-offset-1 bottom">
      <footer>
        &copy;Copyright 2014, Mansoor Khan
      </footer>
    </div>
  </div>
</div>
<%= render 'templates/new.html.erb' %>
<%= render 'templates/index.html.erb' %>

</body>
</html>
